@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Custom properties/variables */
:root {
    --main-gray: #303841;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

body {
    height: 400vh;
}

.main-header {
    height: 8vh;
    /* background-color: #a4cdc4; */
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    color: rgb(0, 0, 0);
    z-index: 1;
    padding: 0 10vw;
    font-family: 'Roboto', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px;
    color: rgb(0, 0, 0);
}

.mf-logo img {
    /* should i change px to rem? */
    width: 34px;
    height: 34px;
    vertical-align: middle;
}

nav {
    height: 7.8vh;
}

.nav-links{
    display: flex;
    /* justify-content: space-around; */
    /* width: 30%; */
    line-height: 7.8vh;
}

.nav-links li {
    list-style: none;
    border-bottom: 2px solid transparent !important;
    /* border-bottom: 3px solid black !important; */
}
.nav-links a {
    text-decoration: none;
    color: inherit;
    display: block;
    /* padding: 0.4rem 0.5rem; */
    padding: 0 0.8rem;
    font-size: 1.1rem;
}

.nav-links li:hover {
    border-bottom-color: rgb(0, 0, 0) !important;
}

.burger {
    cursor: pointer;
    display: none;
}

.burger div {
    width: 22px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 3px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 8vh;
        /* background-color: #a4cdc4; */
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 92vh;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
        margin: 0.4rem 0;
        border: none !important;
        padding-left: 1rem;
    }

    .nav-links li:hover {
        background:#eee !important;
    }

    .burger {
        display: block;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.nav-active {
    transform: translateX(0%);
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 3px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -3px);
}

/* section */
section {
    padding: 5rem 1.5rem;
}

/* About */
#about {
    /* padding-top: 8vh; */
    background-color: #477da6;
    padding: 10rem 1.5rem 6rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 5px;
    color: rgb(0, 0, 0);
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: rgb(255, 255, 255);
}

.container h1 {
    margin-bottom: 1.5rem;
}

.container h2 {
    font-weight: 300;
    line-height: 1.5;
}

/* Work */
#work {
    /* padding-top: 10rem; */
   
}

#work .container {
    color: rgb(0, 0, 0);
}

.title {
    padding-top: 2rem;
}

.project-grid {
    padding: 2rem 0 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    grid-gap: 4rem;
}

.project-image {
    width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.project-title {
    font-size: 1.1rem;
    padding: 2rem 0.5rem;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.project-grid div {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    
}

.project-grid div:hover .code{
    color: #ff7f50;
}

.is-centered {
    margin-top: 2rem;
}

.is-centered a {
    color: #477da6;
    padding: 1.25em 2em;
    background-color: transparent;
    border: 2px solid #477da6;
    border-radius: 290486px;
}
.is-centered a:hover {
    background-color: #477da6;
    color: rgb(255, 255, 255)
}

